
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    height: 100%;
    width: 100%;
    margin: none;
    padding: none;
    background-color: white;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: none;
    padding: none;
    background-color: white;
    color: black;
}
